national_council.dtd

<!ELEMENT national_council(year,location,board_director+,chief_scout,provincal_commissioner+,commissioner+)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT board_director* (#PCDATA)>
<!ATTLIST board_director position CDATA #REQUIRED>
<!ELEMENT chief_scout (#PCDATA)>
<!ELEMENT provincal_commissioner* (#PCDATA)>
<!ATTLIST provincal_commissioner province CDATA #REQUIRED>
<!ELEMENT commissioner* (#PCDATA)>
<!ATTLIST commissioner scout_tier CDATA #REQUIRED>

