scouts.dtd

<!DOCTYPE scouts_info [
<!ELEMENT scouts (scout_set*)>
<!ELEMENT scout_set (scouts*)>
<!ATTLIST scout_set id CDATA #REQUIRED>
<!ELEMENT scout (name, age, group_location, scout_type, guardian+)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT group_location (#PCDATA)>
<!ELEMENT scout_type (#PCDATA)>
<!ELEMENT guardian (#PCDATA)>
<!ATTLIST guardian contact_info CDATA #REQUIRED>
]>
