ScoutLeader.dtd

<?xml version="1.0" ?>

<!DOCTYPE scout_leaders[
<!ELEMENT scout_leaders (scout_leader*)>
<!ELEMENT scout_leader (name, age, scout_group, group_location)>
<!ATTLIST scout_leader age CDATA #REQUIRED>
<!ELEMENT name (title?, first_name, middle_name*,last_name)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT first_name (#PCDATA)>
<!ELEMENT middle_name (#PCDATA)>
<!ELEMENT last_name (#PCDATA)>
<!ELEMENT scout_group (#PCDATA)>
<!ELEMENT group_location (#PCDATA)>
]>
