scout_group.dtd

<!DOCTYPE group_info [
<!ELEMENT scout_groups (scout_group*)>
<!ELEMENT scout_group (name, meeting_location, group_type, scouts)
<!ELEMENT name (#PCDATA)>
<!ELEMENT meeting_location (#PCDATA)>
<!ATTLIST meeting_location meeting_time CDATA #IMPLIED>
<!ELEMENT group_type (#PCDATA)>
<!ELEMENT scouts (#PCDATA)>
<!ATTLIST scouts id CDATA #IMPLIED>
]>
